.idea
.gitkeep
.aider*

.DS_Store
**/.DS_Store

# Rust / Cargo
target/
**/target/

# IntelliJ / IDEA
*.iml
*.ipr
*.iws
/.idea/
**/.idea/

/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
*.lock
!Cargo.lock
!**/Cargo.lock

.venv
*/.idea
__pycache__/
.xlsx
out/uploads

Cargo.lock
dist